ipykernel==6.29.5
matplotlib==3.9.4
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.2.3
python-dotenv==1.0.1
python-telegram-bot==21.11.1
torch==2.2.2
torchvision==0.17.2
ultralytics==8.3.86
pyaudio==0.2.14
